<!-- revoke_share.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <h2>Revoke Share</h2>
    <p>Are you sure you want to revoke share access for "{{ user_to_revoke.email }}" to project "{{ project.name }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Revoke Access</button>
        <a href="{% url 'share_project' project.slug %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
