{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <h2>Share Project "{{ project.name }}"</h2>

    <div class="input-group mb-3">
        <input type="text" id="emailInput" class="form-control" placeholder="Enter email" aria-label="Enter email"
               aria-describedby="button-search" size="20">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-search"><i class="fas fa-search"></i>
            </button>
        </div>
    </div>

    <div id="searchResults"></div>

    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <h3>Shared With:</h3>
    <div class="table-responsive">
        <table class="table table-striped mt-3" id="sharedWithTable">
            <thead>
            <tr>
                <th><i class="fas fa-envelope"></i> Email</th>
                <th><i class="far fa-clock"></i> Date Shared</th>
                <th><i class="fas fa-user"></i> Shared By</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for share in shared_with %}
            <tr id="share-{{ share.shared_with.id }}">
                <td>{{ share.shared_with.email }}</td>
                <td>{{ share.shared_at|date:"H:i d/m/Y" }}</td>
                <td>{{ share.shared_by }}</td>
                <td>
                    <form method="post" action="{% url 'revoke_share' project.slug share.shared_with.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-times"></i> Revoke
                        </button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr id="noSharesMessage">
                <td colspan="4">No shares yet.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#emailInput').on('keypress', function(e) {
            if (e.which === 13) { // If the Enter key is pressed
                $('#button-search').click(); // Call the search button click handler
            }
        });
    });

    function removeMessages() {
    const messageContainer = document.getElementById('message-container');
    const messages = messageContainer.getElementsByClassName('alert');

    for (const message of messages) {
        setTimeout(function () {
            message.style.display = 'none';
        }, 1000);
    }
}

document.addEventListener('DOMContentLoaded', removeMessages);


</script>

<script>
    $('#button-search').on('click', function() {
        var email = $('#emailInput').val();
        $.ajax({
            url: '{% url "email_search_view" %}',
            data: {
                'email': email,
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            type: 'post',
            dataType: 'json',
            success: function(data) {
                if(data.exists) {
                    $('#searchResults').html(`
                        <div class="alert alert-success" role="alert">
                            <strong>${data.email}</strong> is available to share.
                            <button class="btn btn-success btn-sm" onclick="shareWithEmail('${data.email}')">Share</button>
                        </div>
                    `);
                } else {
                    $('#searchResults').html(`
                        <div class="alert alert-danger" role="alert">
                            Email not found.
                        </div>
                    `);
                }
            },
            error: function() {
                $('#searchResults').html(`
                    <div class="alert alert-danger" role="alert">
                        An error occurred while searching. Please try again.
                    </div>
                `);
            }
        });
    });

    function shareWithEmail(email) {
    $.ajax({
        url: '{% url "share_with_email_view" %}',
        data: {
            'email': email,
            'project_slug': '{{ project.slug }}',
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
        },
        type: 'post',
        dataType: 'json',
        success: function(data) {
            if(data.shared) {
                location.reload(); // Перезагрузить страницу
            } else {
                $('#searchResults').html(`
                    <div class="alert alert-danger" role="alert">
                        Unable to share with email. Please try again.
                    </div>
                `);
            }
        },
        error: function() {
            $('#searchResults').html(`
                <div class="alert alert-danger" role="alert">
                    An error occurred while sharing. Please try again.
                </div>
            `);
        }
    });
}


</script>

{% endblock %}
