{% extends 'search_distr/base.html' %}
{% block style %}
<style>
    .region-link {
        text-decoration: none;
    }

    .card.shadow-lg {
        transition: scale 0.3s;
    }

    .card.shadow-lg:hover {
        scale: 1.05;

    }
</style>
{% endblock style %}
{% block content %}
<div class="row">
    {% for region in regions %}
        <div class="col-md-4 mb-4">
        <a class="region-link" href="{% url 'region_detail' region.slug %}">
            <div class="card text-white shadow-lg" style="background-color: #C51E1B;"> <!-- shadow-lg добавляет тень к карточке -->
                <div class="card-body">
                    <h5 class="card-title">{{ region.name }}</h5>
                </div>
            </div>
        </a>
        </div>
    {% endfor %}
    {% if request.user.manager_access.is_full%}
    <div class="col-md-4 mb-4">
        <button class="card text-white shadow-lg" style="width: 100%; background-color: #C51E1B;" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card-body">
                <h5 class="card-title">Add region</h5>
            </div>
        </button>
    </div>
    {% endif %}
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Region</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row" method="post">
                {% csrf_token %}
                <div class="col-12 mb-3">
                    <label class="visually-hidden" for="id_name">Region Name (UA)</label>
                    <input type="text" class="form-control" id="id_name" placeholder="Region Name" name="name">
                </div>
                <div class="col-12 mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
`
{% endblock %}
