{% extends 'search_distr/base.html' %}
{% block style %}
<style>
    .region-link {
        text-decoration: none;
    }

    .card.shadow-lg {
        transition: scale 0.3s;
    }

    .card.shadow-lg:hover {
        scale: 1.05;

    }
</style>
{% endblock style %}
{% block content %}
<form method="get" action="" class="row form-inline my-2 my-lg-0">


        <div class="col-lg-4">

            <input class="form-control my-2 my-sm-0" style="margin-bottom: 20px !important;" type="search" name="q" placeholder="Search by name"
                aria-label="Search" value="{{q}}">

        </div>
        <div class="col-lg-2">
            <button class="btn btn-outline-success my-2 my-sm-0" style="margin-bottom: 20px !important;" type="submit">Search</button>
            <a href="{% url 'region_detail' r_slug %}" class="btn btn-outline-danger my-2 my-sm-0" style="margin-bottom: 20px !important;" type="submit">Refresh</a>
        </div>

</form>

<div class="row">
    {% for settlement in settlements %}
        <div class="col-md-3 mb-3">
        <a class="region-link" href="{% url 'category_choose' settlement.slug %}">
            <div class="card text-white shadow-lg" style="background-color: #C51E1B;"> 
                <div class="card-body">
                    <h5 class="card-title">{{ settlement.name }}</h5>
                </div>
            </div>
        </a>
        </div>
    {% endfor %}
    <div class="col-md-3 mb-3">
        <button class="card text-white shadow-lg" style="width: 100%; background-color: #C51E1B;" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card-body">
                <h5 class="card-title">Add Settlement</h5>
            </div>
        </button>
    </div>
</div>
<div class="modal fade"   id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Settlement</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row" method="post">
                {% csrf_token %}
                <div class="col-12 mb-3">
                    <label class="visually-hidden" for="id_name">Settlement Name (UA)</label>
                    <input type="text" class="form-control" id="id_name" placeholder="Settlement Name" name="name">
                </div>
                <div class="col-12 mb-3">
                    <label class="visually-hidden" for="id_community">Community (UA)</label>
                    <input type="text" class="form-control" id="id_community" placeholder="Community Name" name="community">
                </div>
                <div class="col-12 mb-3">
                    <label class="visually-hidden" for="id_district">District Name (UA)</label>
                    <input type="text" class="form-control" id="id_district" placeholder="District Name" name="district">
                </div>
                <div class="col-12 mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
