<div style="background: rgba(121, 106, 238, 0.9);
color: #fff; padding: 20px">
    <h2 style="color: #fff; margin-bottom: 5px;"> Verify your email address</h2>
    <p style="color: #fff; margin-bottom: 5px;">Hello {{ user.username }},</p>
    <p style="color: #fff; margin-bottom: 5px;">Please click the button below to change your
        email</p>
    <p style="margin-bottom: 5px;"><a style="color: #fff" href="{{ verification_link }}" class="button">Change Email</a>
    </p>

    <p style="color: #fff; margin-bottom: 5px;">If you didn't change email on our website, you can ignore this email.</p>
    <p style="color: #fff; margin-bottom: 5px;">Best regards,</p>
    <p style="color: #fff; margin-bottom: 5px;">U-SAVED</p>
</div>