<div style="background: rgba(121, 106, 238, 0.9);
color: #fff; padding: 20px">
    <h2 style="color: #fff; margin-bottom: 5px;"> Reset password</h2>
    <p style="color: #fff; margin-bottom: 5px;">Hello {{ user.username }},</p>
    <p style="color: #fff; margin-bottom: 5px;">For reseting password, please click the button below:</p>
    <p style="margin-bottom: 5px;"><a style="color: #fff" href="{{ reset_password_link }}" class="button">Reset Password</a>
    </p>
    <p style="color: #fff; margin-bottom: 5px;">If you didn't send reset password request on our website, you can ignore this email.</p>
    <p style="color: #fff; margin-bottom: 5px;">Best regards,</p>
    <p style="color: #fff; margin-bottom: 5px;">U-SAVED</p>
</div>