{% extends 'base.html' %}
{% load static %}

{% block title %}Activity Map{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block additional_css %}
<!-- Third-party CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.css" crossorigin="anonymous"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.Default.css" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/3.0.0/Control.FullScreen.css" crossorigin="anonymous"/>



<!-- Local CSS -->
<link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}">
{% endblock %}

{% block content %}
<div class="content-inner w-100 pb-0">
    <div class="container-fluid">
        <div class="card mb-0">
            <div class="card-header">
                <h4 class="mb-0">Activity Map</h4>
            </div>
            <div class="card-body w-100">
                <div class="map_block" id="map" style="height: 75vh;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Third-party JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<style>
    .info-popup {
        margin: 4px 0 !important;
        width: 100%;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/leaflet.markercluster.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/3.0.0/Control.FullScreen.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" crossorigin="anonymous"/>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script src="https://unpkg.com/leaflet-simple-map-screenshoter"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

<!-- Local JS -->
<script src="{% static 'js/leaflet.awesome-markers.js' %}"></script>
<script type="module" src="{% static 'js/map.js' %}"></script>
<script>
        document.addEventListener('DOMContentLoaded', () => {
            const fullScreenBtnDefault = document.querySelector('.leaflet-control-zoom-fullscreen')
            const icon = document.createElement('i');
            icon.classList.add('fas', 'fa-expand');
            fullScreenBtnDefault.appendChild(icon);
});

</script>
{% endblock %}
