{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    #editUserModal .modal-content {
    background-color: white;
    color: black;
}

#editUserModal .modal-header,
#editUserModal .modal-footer {
    border-bottom: none;
}

#editUserModal .modal-body {
    padding: 2rem;
}

#editUserModal #userImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
    #editUserModal .modal-content {

}

#editUserModal #userImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
    #userEmail {
    font-weight: bold;
    color: #dc3545;
}
    .btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
}
.btn-danger {
    background-color: #a71d2a;
    border-color: #a71d2a;
}
    .custom-edit-btn {
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.custom-delete-btn {
    background-color: #a71d2a;
    border-color: #a71d2a;
}

.custom-edit-btn:hover {
    background-color: #5936a0;
    border-color: #5936a0;
}

.custom-delete-btn:hover {
    background-color: #7c1c29;
    border-color: #7c1c29;
}


</style>
<div class="container mt-3">
    <h2>Road Logistics</h2>

    <form method="get" action="" class="form-inline my-2 my-lg-0">
        <div class="row">
            <div class="col-lg-6">
                <label for="q">Search by Car mark or by number</label>

                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search rides by car"
                    aria-label="Search" value="{{q}}">
            </div>

            <div class="col-lg-3">
                <label for="date_from">Date From</label>
                <input type="date" class="form-control filter_input" id="date_from" name="date_from" value="{{date_from}}">
            </div>
            <div class="col-lg-3">
                <label for="date_to">Date To</label>
                <input type="date" class="form-control filter_input" id="date_to" name="date_to" value="{{date_to}}">
            </div>



        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" style="margin-top: 10px !important;" type="submit">Search</button>
        <a href="{% url 'rides' %}" class="btn btn-outline-danger my-2 my-sm-0" style="margin-top: 10px !important;">Refresh</a>
    </form>

    {% if rides %}

    <div class="table-responsive">
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th>Car Name</th>
                <th>Car Number</th>
                <th>Date</th>
                <th>Mission</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for ride in rides %}
            <tr>
                <td>{{ ride.car.mark }}</td>
                <td>{{ ride.car.number }}</td>
                <td>{{ ride.date }}</td>
                <td>{{ ride.mission }}</td>
                <td>
                    <a class="btn btn-primary custom-edit-btn edit-btn" href="{% url 'ride-detail' ride.id %}"  id="{{ ride.id }}"><i
                            class="fa fa-info-circle"></i> Details
                    </a>

                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No rides for this request.</p>
    {% endif %}
</div>






<!-- jQuery and Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


{% endblock %}