<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>U-Saved reporting</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    {% block extra_css %}{% endblock %}
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" crossorigin="anonymous">
    <!-- Подключение Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.css" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.Default.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- gLightbox gallery -->
    <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="{% static 'vendor/choices.js/public/assets/styles/choices.min.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Tabulator-->

    <link href="https://unpkg.com/tabulator-tables@5.0.7/dist/css/tabulator.min.css" rel="stylesheet" crossorigin="anonymous">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">

    <script>

        document.addEventListener('contextmenu', event => event.preventDefault());
    </script>

    <style>
        body {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .project-card {
            border-radius: 20px;
            background: linear-gradient(90deg, #8c8787 1%, #d4d4d4 99%);
        }
        nav.navbar {
            background-color: #e71352;
        }
        .sidebar-item.active > .sidebar-link{
            background-color: #e71352;
            border-left: 4px solid #c91248;
        }
        .sidebar-item.active > .sidebar-link:hover{
            background-color: #e71352;
            border-left: 4px solid #c91248;
        }
        .sidebar-item > .sidebar-link:hover {
            background-color: #e71352;
            border-left: 4px solid #c91248;
        }
        .learn-btn {
            border-radius: 20px;
            color: #fff;
            background: #c91248;
            border: solid 2px #c91248;
        }
        .learn-btn:hover {
            background: #fff;
            color: #c91248;
        }
        a {
            color: #e71352;
        }
        a:hover {
            color: #c91248;
        }
        .btn.btn-primary {
            background: #c91248;
            border: 1px solid #c91248;
        }
        #pdf.btn.btn-info {
            background: #c91248;
            border: 1px solid #c91248;
        }
        .dropdown-item:hover, .dropdown-item:focus {
            color: #c91248;
            background-color:rgba(0, 0, 0, 0);
        }
    </style>

    {% block additional_styles %} {% endblock %}

</head>
<body>
<div class="page">
    <!-- Main Navbar-->
    <header class="header z-index-50">
        <nav class="nav navbar py-3 px-0 shadow-sm text-white position-relative">
            <!-- Search Box-->
            <div class="search-box shadow-sm">
                <button class="dismiss d-flex align-items-center">
                    <i class="fas fa-times"></i>

                </button>
                <form id="searchForm" action="#" role="search">
                    <input class="form-control shadow-0" type="text" placeholder="What are you looking for...">
                </form>
            </div>
            <div class="container-fluid w-100">
                <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Navbar Brand --><a class="navbar-brand d-none d-sm-inline-block" href="{% url 'index'%}">
                        <div class="brand-text d-none d-lg-inline-block">
                            <span></span><strong><img src="{% static 'img/logo.png' %}" style="max-height: 40px;"></strong></div>
                        <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong><img src="{% static 'img/logo-short.png' %}" style="max-height: 40px;"></strong></div>
                    </a>
                        <!-- Toggle Button--><a class="menu-btn" id="toggle-btn"
                                                href="#"><span></span><span></span><span></span></a>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Search-->
                        <li class="nav-item d-flex align-items-center"><a id="search" href="#">
                            <i class="fas fa-search"></i>
                        </a></li>

                        <!-- Languages dropdown    -->
                        <li class="nav-item dropdown"><a
                                class="nav-link text-white dropdown-toggle d-flex align-items-center" id="languages"
                                href="#" data-bs-toggle="dropdown" aria-expanded="false"><img class="me-2"
                                                                                              src="{% static 'img/flags/16/GB.png' %}"
                                                                                              alt="English"><span
                                class="d-none d-sm-inline-block">English</span></a>
                            <ul class="dropdown-menu dropdown-menu-end mt-3 shadow-sm" aria-labelledby="languages">
                                <li><a class="dropdown-item" rel="nofollow" href="#"> <img class="me-2"
                                                                                           src="{% static 'img/flags/16/DE.png' %}"
                                                                                           alt="English"><span
                                        class="text-xs text-gray-700">German</span></a></li>
                                <li><a class="dropdown-item" rel="nofollow" href="#"> <img class="me-2"
                                                                                           src="{% static 'img/flags/16/FR.png' %}"
                                                                                           alt="English"><span
                                        class="text-xs text-gray-700">French                                         </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link text-white dropdown-toggle d-flex align-items-center" 
                                    href="#" data-bs-toggle="dropdown" aria-expanded="false"><img class="me-2 img-fluid" style="width: 16px; height: 16px;"
                                        src="{% static 'img/user-icon.png' %}" alt="User"><span
                                    class="d-none d-sm-inline-block">{{user.username}}</span></a>
                            <ul class="dropdown-menu dropdown-menu-end mt-3 shadow-sm" aria-labelledby="languages">
                                <li><a class="dropdown-item" rel="nofollow" href="{% url 'profile' %}"><span class="text-xs text-gray-700">Profile</span></a></li>                       
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'logout' %}">
                                <span class="d-none d-sm-inline">Logout</span>
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar z-index-40">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center py-4 px-3">
                {% if request.user.logo %} <!-- Если у пользователя есть логотип -->
                <img class="avatar shadow-0 img-fluid rounded-circle" src="{{ request.user.logo.url }}"
                     alt="{{ request.user.first_name }}">
                {% else %} <!-- Если у пользователя нет логотипа -->
                <img class="avatar shadow-0 img-fluid rounded-circle" src="{% static 'img/default-avatar.jpg' %}"
                     alt="Default Avatar">
                {% endif %}
                <div class="ms-3 title">
                    <h1 class="h4 mb-2">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                    <p class="text-sm text-gray-500 fw-light mb-0 lh-1">{{ request.user.organisation_name }}</p>
                </div>
            </div>

            <!-- Sidebar Navidation Menus-->
            <span
                class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span>
            <ul class="list-unstyled py-4">
                <li id="home" class="sidebar-item"><a class="sidebar-link" href="{% url 'index' %}">
                    <i class="fas fa-home me-xl-2"></i>

                    Home </a></li>
                <li id="tables" class="sidebar-item"><a class="sidebar-link" href="{% url 'tables'%}">
                    <i class="fas fa-table me-xl-2"></i>

                    Tables </a></li>
                <li id="charts" class="sidebar-item"><a class="sidebar-link" href="{% url 'charts'%}">
                    <i class="fas fa-chart-pie me-xl-2"></i>

                    Dashboard </a></li>
                <li id="maps" class="sidebar-item"><a class="sidebar-link" href="{% url 'maps'%}">
                    <i class="fas fa-map-marker-alt me-xl-2"></i> Maps </a></li>
                <li id="photos" class="sidebar-item"><a class="sidebar-link" href="{% url 'photos'%}">
                    <i class="fas fa-camera-alt me-xl-2"></i> Photos </a></li>
                <li id="generated_files" class="sidebar-item"><a class="sidebar-link" href="{% url 'generated_files_list'%}">
                    <i class="fas fa-file-alt me-xl-2"></i> Generated Files </a></li>
                {% if request.user.is_superuser %}
                <li id="rides" class="sidebar-item"><a class="sidebar-link" href="{% url 'rides'%}">
                    <i class="fas fa-car me-xl-2"></i> Road Logistics </a></li>
                   <li id="upload_data" class="sidebar-item"><a class="sidebar-link" href="{% url 'upload_data_page'%}">
                    <i class="fas fa-database me-xl-2"></i> Upload Data </a></li>
                    <li id="manage_users" class="sidebar-item"><a class="sidebar-link" href="{% url 'manage_users'%}">
                    <i class="fas fa-list-check me-xl-2"></i> Manage users</a></li>
                    <li id="manage_users" class="sidebar-item"><a class="sidebar-link" href="{% url 'search_distr'%}">
                    <i class="fas fa-list me-xl-2"></i> Distribution List App</a></li>
                {% endif %}
                {% if request.user.user_type == "MA" %}
                <li id="manage_users" class="sidebar-item"><a class="sidebar-link" href="{% url 'search_distr'%}">
                    <i class="fas fa-list me-xl-2"></i> Distribution List App</a></li>
                {% endif %}
                <li id="share-project" class="sidebar-item"><a class="sidebar-link" href="{% url 'list_projects_for_sharing'%}">
                    <i class="fas fa-share-from-square me-xl-2"></i> Share projects </a></li>
            </ul>

        </nav>
        <div class="content-inner w-100">

            {% block content %}

            {% endblock %}
            <!-- Page Footer-->
            <footer class="position-absolute bottom-0 text-white text-center py-3 w-100 text-xs"
                    id="footer" style="background: #c91248;">
                <div class="container-fluid">
                    <div class="row gy-2">
                        <div class="col-sm-6 text-sm-start">
                            <p class="mb-0">U-SAVED FEDERATION &copy; 2022-2023</p>
                        </div>
                        <div class="col-sm-6 text-sm-end">
                            <p class="mb-0">Created by <a href="https://www.u-saved.co/"
                                                          class="text-white text-decoration-none">U-Saved</a></p>
                            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'vendor/just-validate/js/just-validate.min.js' %}"></script>
<script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Main File-->
<script src="{% static 'js/front.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/leaflet.awesome-markers.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/leaflet.markercluster.js"></script>
{% block scripts %} {% endblock %}

{% block additional_scripts %} {% endblock %}


<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script>
    // Get the current URL
    var currentUrl = window.location.pathname;

    // Get all the sidebar links
    var sidebarLinks = document.getElementsByClassName('sidebar-link');

    // Loop through the sidebar links to find the active one
    for (var i = 0; i < sidebarLinks.length; i++) {
        // Check if the href of the link matches the current URL
        if (sidebarLinks[i].getAttribute('href') === currentUrl) {
            // Add 'active' class to the parent li element
            sidebarLinks[i].parentNode.classList.add('active');
        }
    }
</script>
<script>
    document.addEventListener('contextmenu', function (e) {
        if (e.target.tagName === 'IMG') {
            e.preventDefault();
        }
    });
</script>
</body>
</html>