{% extends 'base.html' %}
{% block title %}Tables{% endblock %}
{% block content %}

<!-- Ваши стили -->
<style>
    .table-container {
        overflow-x: auto;
        width: 100%;
        padding: 15px;  /* Добавлены отступы */
    }
    #example-table {
        width: 100%;
        display: block;
        min-height: 70vh;
    }
    .tabulator-paginator {
        text-align: center;
        margin-top: 15px;  /* Отступ для пагинации */
    }
</style>

<!-- Breadcrumb-->
<div class="bg-white">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3">
                <li class="breadcrumb-item"><a class="fw-light" href="{% url 'index'%}">Home</a></li>
                <li class="breadcrumb-item active fw-light" aria-current="page">Table</li>
                <li class="breadcrumb-item active fw-light" aria-current="page">All activities</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">  <!-- Добавлен контейнер Bootstrap -->
    <button class="btn btn-primary m-3" type="button" data-bs-toggle="modal"
        data-bs-target="#filterModal">Filter <svg xmlns="http://www.w3.org/2000/svg" height="1em"
            viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <style>
                svg {
                    fill: #ffffff
                }
            </style>
            <path
                d="M151.6 469.6C145.5 476.2 137 480 128 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L96 365.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V365.7l32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 480c-17.7 0-32-14.3-32-32s14.3-32 32-32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H320z" />
        </svg></button>
    <div class="modal fade text-start" id="filterModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
        style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Filter Table</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Filter by:</p>
                    <form method="get" class="form-inline mb-3 mt-3">
                        <div class="form-group mx-sm-3 mb-3 w-10">
                            <laber for="projects">Project:</label>
                            {{ filter_form.projects }}
                        </div>
                        <div class="form-group mx-sm-3 mb-3">
                            <label for="oblast">Oblast:</label>
                            {{ filter_form.oblast }}
                        </div>
                        <div class="form-group mx-sm-3 mb-3">
                            <label for="settlement-select">Settlement:</label>
                            <select name="settlement" id="settlement-select" class="form-control">
                                <option value="">All settlements</option>
                                {% for settlement, settlement_name in filter_form.fields.settlement.choices %}
                                <option value="{{ settlement }}">{{ settlement_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mx-sm-3 mb-3">
                            <label for="date_from">Date From:</label>
                            {{ filter_form.date_from }}
                        </div>
                        <div class="form-group mx-sm-3 mb-3 w-10">
                            <label for="date_to">Date To:</label>
                            {{ filter_form.date_to }}
                        </div>

                    </form>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary mx-sm-3 filter_btn" type="button"
                            data-bs-dismiss="modal">Filter</button>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <button class="btn btn-primary m-3" type="button" data-bs-toggle="modal" id="generate" data-bs-target="#downloadModal">Generate File <svg xmlns="http://www.w3.org/2000/svg" height="1em"
        viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <style>
            svg {
                fill: #ffffff
            }
        </style>
        <path
            d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z" />
    </svg></button>
    <div class="modal fade text-start" id="downloadModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
        style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Download File</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="filter-tags" style="margin-bottom: 5px">
                    </div>
                    <p>Choose columns you want to download:</p>
                    <form method="post" action="/api/generate_file/" class="form-inline mb-3 mt-3" id="generate-form">
                        {% csrf_token %}
                    {% for key, value in fields.items %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{value}}" id="{{value}}" checked>
                        <label class="form-check-label" for="{{value}}">
                            {{key}}
                        </label>
                    </div>
                    {% endfor %}
                    <div class="modal-footer" style="align-items: start; justify-content: start">
                        <button id="xlsx" class="btn btn-success mx-sm-2 filter_btn" type="submit" data-bs-dismiss="modal"><i class="fa-regular fa-file-excel" style="color: #ffffff;"></i> Download Excel</button>
                        <button id="pdf" class="btn btn-info mx-sm-2 filter_btn" type="submit" data-bs-dismiss="modal"><i class="fa-regular fa-file-pdf" style="color: #ffffff;"></i> Download PDF</button>
                    </div>
                    </form>

                </div>
    
            </div>
        </div>
    </div>
    <div class="table-container">
        <div id="example-table"></div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let queryParams = {}
    let table = new Tabulator("#example-table", {
        height: "450px",
        pagination: true,
        paginationMode: 'remote',
        paginationSize: 20,
        paginationSizeSelector: [10, 20, 30, 50, 70, 100],
        ajaxURL: `/api/get-data/`,
        columns:[
            {% for key, value in fields.items %}
                { title: "{{key}}", field: "{{value}}" },
            {% endfor %}
        ],
    });
        const filterBtn = document.querySelector('.filter_btn')
            filterBtn.addEventListener('click', (e) => {
                e.preventDefault()
                const settlementValue = document.querySelector('#settlement-select').value;
                const oblastValue = document.querySelector('.filter_input[name="oblast"]').value;
                const dateFromValue = document.querySelector('.filter_input[name="date_from"]').value;
                const dateToValue = document.querySelector('.filter_input[name="date_to"]').value;
                const projectValue = document.querySelector('.filter_input[name="projects"]').value;
            const tagsContainer = document.querySelector('.filter-tags')
            tagsContainer.innerHTML = ''
            queryParams = {};

            if (settlementValue) {
                queryParams.settlement = settlementValue;
                const tempDiv = document.createElement('div');
                tempDiv.innerHTML = `<div class="btn btn-primary custom-tag" style="padding: 3px 10px; border-radius: 20px; align-items: center; margin: 4px"><span style="font-size: 0.8em">${settlementValue}</span> <button type="button" id="settlement" class="btn-close btn-close-white close-tag" aria-label="Close" style="font-size: 0.7em"></button></div>`;
                tagsContainer.appendChild(tempDiv.firstChild);
            }
            if (oblastValue) {
                queryParams.oblast = oblastValue;
                const tempDiv = document.createElement('div');
                tempDiv.innerHTML = `<div class="btn btn-primary custom-tag" style="padding: 3px 10px; border-radius: 20px; align-items: center; margin: 4px"><span style="font-size: 0.8em">${oblastValue}</span> <button type="button" id="oblast" class="btn-close btn-close-white close-tag" aria-label="Close" style="font-size: 0.7em"></button></div>`;
                tagsContainer.appendChild(tempDiv.firstChild);
            }
            if (dateFromValue) {
                queryParams.date_from = dateFromValue;
                const tempDiv = document.createElement('div');
                tempDiv.innerHTML = `<div class="btn btn-primary custom-tag" style="padding: 3px 10px; border-radius: 20px; align-items: center; margin: 4px"><span style="font-size: 0.8em">From ${dateFromValue}</span> <button type="button" id="date_from" class="btn-close btn-close-white close-tag" aria-label="Close" style="font-size: 0.7em"></button></div>`;
                tagsContainer.appendChild(tempDiv.firstChild);
            }
            if (dateToValue) {
                queryParams.date_to = dateToValue;
                const tempDiv = document.createElement('div');
                tempDiv.innerHTML = `<div class="btn btn-primary custom-tag" style="padding: 3px 10px; border-radius: 20px; align-items: center; margin: 4px"><span style="font-size: 0.8em">To ${dateToValue}</span> <button type="button" id="date_to" class="btn-close btn-close-white close-tag" aria-label="Close" style="font-size: 0.7em"></button></div>`;
                tagsContainer.appendChild(tempDiv.firstChild);
            }
            if (projectValue) {
                queryParams.projects = projectValue;
                const tempDiv = document.createElement('div')
                tempDiv.innerHTML = `<div class="btn btn-primary custom-tag" style="padding: 3px 10px; border-radius: 20px; align-items: center; margin: 4px"><span style="font-size: 0.8em">${projectValue}</span> <button type="button" id="projects" class="btn-close btn-close-white close-tag" aria-label="Close" style="font-size: 0.7em"></button></div>`;
                tagsContainer.appendChild(tempDiv.firstChild)
            }

            const tags = document.querySelectorAll('.custom-tag')
            tags.forEach(tag => {
                const closeBtn = tag.querySelector('.close-tag')
                closeBtn.addEventListener('click', (e) => {
                    e.preventDefault()
                    queryParams[closeBtn.id] = ''
                    tag.remove()
                })
            })


                table = new Tabulator("#example-table", {
                    height: "450px",
                    pagination: true,
                    paginationMode: 'remote',
                    paginationSize: 20,
                    paginationSizeSelector: [10, 20, 30, 50, 70, 100],
                    ajaxURL: `/api/get-data/`,
                    ajaxParams: queryParams,
                    columns: [
                        {% for key, value in fields.items %}
                            { title: "{{key}}", field: "{{value}}" },
                        {% endfor %}
                    ],
                });

            })
    $(document).ready(function () {
            // Listen for the form submission
            $("#generate-form").on("submit", function (event) {
                event.preventDefault();  // Prevent the default form submission
                const generate_btn = document.querySelector('#generate')
                generate_btn.innerHTML = '<i class="fa fa-refresh fa-spin"></i>'
                const inputs = this.querySelectorAll('input')
                const choosed_columns = []
                queryParams['file_format']= $(this).find("button[type='submit']:focus").attr("id");

                const query = new URLSearchParams(queryParams).toString();
                inputs.forEach(element => {
                    if (element.checked) {
                        if (element.name !== 'csrfmiddlewaretoken') {
                            choosed_columns.push(element.value)
                        }
                    }
                });
                // Serialize the form data
                var formData = $(this).serialize()  + `&choosed_columns=${choosed_columns}`
                // Make an AJAX request
                $.ajax({
                    type: "POST",
                    url: $(this).attr("action") + `?${query}`,
                    data: formData,
                    success: function (data) {
                        generate_btn.innerHTML = 'Generate File <svg xmlns="http://www.w3.org/2000/svg" height="1em"\n' +
                            '        viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->\n' +
                            '        <style>\n' +
                            '            svg {\n' +
                            '                fill: #ffffff\n' +
                            '            }\n' +
                            '        </style>\n' +
                            '        <path\n' +
                            '            d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z" />\n' +
                            '    </svg>'
                        window.location.href = data.download_url
                    },
                    error: function (xhr, status, error) {
                        generate_btn.innerHTML = 'Generate File <svg xmlns="http://www.w3.org/2000/svg" height="1em"\n' +
                            '        viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->\n' +
                            '        <style>\n' +
                            '            svg {\n' +
                            '                fill: #ffffff\n' +
                            '            }\n' +
                            '        </style>\n' +
                            '        <path\n' +
                            '            d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z" />\n' +
                            '    </svg>'
                        console.error(error);
                    }
                });
            });
        });
</script>
<script>
    const getSettlementParameter = (settlementSelect) => {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get('settlement')
    }
    const changeSettlementChoices = (oblastSelect, settlementSelect) => {
        const selectedOblast = oblastSelect.value;
        const url = selectedOblast ? `/get_all_settlements/?oblast=${selectedOblast}` : `/get_all_settlements/{{project.slug}}/{{category.slug}}/`
        // Make an AJAX request to your Django view to retrieve filtered city options
        fetch(url)
            .then(response => response.json())
            .then(data => {
                // Clear the current city options
                settlementSelect.innerHTML = '<option value="">All settlements</option>';
                // Add the new city options based on the response data
                const settlements = data.settlements.map(sub_array => sub_array[0]);
                const settlementParam = getSettlementParameter(settlementSelect)


                data.settlements.forEach(city => {
                    const option = document.createElement('option');
                    option.value = city[0];
                    option.text = city[1];
                    settlementSelect.appendChild(option);
                });
                if (settlements.includes(settlementParam)) {
                    settlementSelect.value = settlementParam;
                }

            });
    }
        document.addEventListener("DOMContentLoaded", function () {

        const oblastSelect = document.querySelector('#{{ filter_form.oblast.id_for_label }}');
        const settlementSelect = document.querySelector('#settlement-select');

        if (oblastSelect.value) {
            changeSettlementChoices(oblastSelect, settlementSelect)
        }
        oblastSelect.addEventListener('change', function () {
            changeSettlementChoices(oblastSelect, settlementSelect)
        });



    })
</script>

{% endblock %}
